.App {
  height: 100vh;
}
.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 100vw;
  height: 5em;
}
.App-header h1 {
  margin: 0;
}

.logo {
  width: 2em;
  height: auto;
  padding-right: 1em;
}

.gallery {
  max-width: 40em;
  margin: 0 auto;
}

section {
  width: 100%;
  overflow-x: scroll
}

section h2 {
  display: none;
}

ul {
  font-size: 1em;
  margin: 0;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0;
  white-space: nowrap;
}

.slides li {
  display: inline-block;
  white-space: nowrap;
}

.slides img {
  max-height: 40vh;
}

figure {
  position: relative;
  margin: 0;
  margin-right: 0.5em;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.7; 
  padding: 0.5em;
}

figcaption p {
  margin: 0;
}

.instructions {
  width: 100%;
}

.instructions svg, .button-container svg {
  width: 1em;
  height: auto;
  margin: 0 0.2em;
}

@media only screen and (min-width: 30em) {
}