.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 2em;
}

section h2 {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: 1em;
  margin: 0 0.8em;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0;
}

li {
  font-size: 1em;
  margin-right: 0.8em;
  list-style-type: none;
}

img {
  font-size: 1em; 
  width: 20em;
  height: auto;
}
.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button, a {
  font-size: 1em;
  width: 8em;
  height: 2em;
  margin-left: 0.3em;
  background-color: #fff;
  border: 0.1em solid #495e81;
}

a:link, a:visited {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #495e81;
  text-decoration: none;
  vertical-align: middle;
}
a span {
  padding: 0 0.2em;
}
svg {
  font-size: 1em;
  width: 1.5em;
}

@media only screen and (min-width: 30em) {
  img {
    width: 50em;
  }
  
  

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
